<% if notice || alert %>
  <div data-controller="flash" class="shadow-lg rounded-lg border bg-white p-4">
    <i
      class="fa-2xl <%= "#{flash_style(:icon)} #{flash_style(:text)}" %>"
    >
    </i>
    <span class="ml-1.5"><%= alert || notice %></span>
  </div>
<% end %>
