<div>
  <h1 class="font-bold text-4xl">Chats#show</h1>
  <p>Find me in app/views/chats/show.html.erb</p>
</div>

<%= turbo_frame_tag 'chat', data: { action: 'turbo:before-frame-render->chats#activateChatTab', id: @chat.id } do %>
  <% @messages.each do |message| %>
    <div class=<%= chat_message_class(message) %>>
      <%= message.body %>
    </div>
  <% end %>
<% end %>
