<%= content_for :style do %>
  <%= ChatsHelper::ChatStyleBuilder.new(current_account).build %>
<% end %>

<div class="container border rounded-lg">
  <%= render 'chat', chat: @chat, messages: @messages, message: @message %>
</div>
