@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playwrite+IT+Moderna:wght@100..400&family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .offset-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px;
  }
  .decoration-no-skip-ink {
    text-decoration-skip-ink: none;
  }
  .-underline-offset-6 {
    text-underline-offset: -6px;
  }
  .decoration-12 {
    text-decoration-thickness: 12px;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
