[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
numpy = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"
psycopg2 = "*"
scrapy = "*"
gpt4free = "*"
transformers = "*"
sentence-transformers = "*"
jupyter = "*"
seaborn = "*"
xgboost = "*"
catboost = "*"
lightgbm = "*"
cloudpickle = "*"
dill = "*"
torch = "==2.2.0"
torchvision = "==0.17.0"
torchaudio = "==2.2.0"
langchain = "*"
g4f = {extras = ["all"], version = "*"}

[dev-packages]
flake8 = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
